<launch>
    <node name="pid_sway" pkg="pid" type="controller" >
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.1" />
      <param name="upper_limit" value="200" />
      <param name="lower_limit" value="-200" />
      <param name="windup_limit" value="100" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <remap from="setpoint" to="/sway/setpoint" />
      <remap from="state" to="/sway/state" />
      <remap from="control_effort" to="/sway/effort" />
    </node>

    <node name="pid_heave" pkg="pid" type="controller" >
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.1" />
      <param name="upper_limit" value="200" />
      <param name="lower_limit" value="-200" />
      <param name="windup_limit" value="100" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <remap from="setpoint" to="/heave/setpoint" />
      <remap from="state" to="/heave/state" />
      <remap from="control_effort" to="/heave/effort" />
    </node>

    <node name="pid_surge" pkg="pid" type="controller" >
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.1" />
      <param name="upper_limit" value="200" />
      <param name="lower_limit" value="-200" />
      <param name="windup_limit" value="100" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <remap from="setpoint" to="/surge/setpoint" />
      <remap from="topic_from_plant" to="/surge/state" />
      <remap from="topic_from_controller" to="/surge/effort" />
    </node>

    <node pkg="human_robot_interface" name="visual_servo" type="visual_servo.py" output="screen"/>
    <node pkg="human_robot_interface" name="teleop_bluerov" type="teleop_bluerov.py" output="screen"/>
</launch>